.scroll-downs {
  position: absolute;
  transition: opacity 300ms ease-out;
  top: 75%;
  right: 0;
  bottom: 25%;
  left: 0;
  margin: auto;
  width: 100%;
  display: flex;
  justify-content: center;
}
.mousey {
  width: 3px;
  padding: 20px 25px;
  height: 45px;
  border: 2px solid #00205b;
  border-radius: 25px;
  opacity: 0.75;
}
.scroller {
  width: 3px;
  height: 20px;
  border-radius: 25%;
  background-color: #00205b;
  animation-name: scroll;
  animation-duration: 2.2s;
  animation-timing-function: cubic-bezier(0.15, 0.41, 0.69, 0.94);
  animation-iteration-count: infinite;
}
@keyframes scroll {
  0% {
    opacity: 0;
  }
  10% {
    transform: translateY(0);
    opacity: 1;
  }
  100% {
    transform: translateY(15px);
    opacity: 0;
  }
}
